.item {
    position: relative;;
    height: 200px;
    width: 200px;
}

.item:hover .item_description {
    visibility: visible;
    opacity: 1;
}

.item_description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(red, green, blue, 0.5);
    color: #fff;
    visibility: hidden;
    opacity: 0;

    transition: opacity .2s, visibility .2s;
}

.container {
    display: grid;
    grid-template-columns: 200px 400px;
    grid-template-rows: 200px 200px;
    gap: 2px;
    padding: 2px;
}

body {
    background-color: lightskyblue;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 20px;
}
h2 {
    font-size: 16px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}