@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.item {
    position: relative;
    height: 240px;
    width: 240px;
    border: 2px solid black;
    text-align: center;
    background-color: black;
    padding: 5px;
}

.item:hover .item_description {
    visibility: visible;
    opacity: 1;
}

.item:hover .item_img {
  filter: brightness(0.25);
}

.item_description {
    filter: blur(0px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(red, green, blue, 1);
    color: #fff;
    visibility: hidden;
    opacity: 0;

    transition: opacity .2s, visibility .2s;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.item_software {
    position: relative;
    height: 80px;
    width: 80px;
}

.container_software {
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-image: linear-gradient(rgb(52, 112, 150), rgb(42, 42, 117));
    max-width: 960px;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 25px;
}
h2 {
    font-size: 20px;
}

h3 {
    font-size: 30px;
    color: white;
    text-justify: middle;
}

p {
    font-size: 15px;
}