@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.item {
    position: relative;
    height: 240px;
    width: 240px;
    border: 2px solid black;
    text-align: center;
    background-color: #347096;
    background-image: radial-gradient(#347096, #2a2a75);
}

.item:hover .item_description {
    visibility: visible;
    opacity: 1;
}

.item:hover .item_img {
  filter: brightness(0.25) blur(5px);
}

.item_description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(red, green, blue, 1);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    padding: 5px;

    transition: opacity .2s, visibility .2s;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item_software:hover {
    filter: brightness(0.5);
}

.item_software {
    position: relative;
    height: 80px;
    width: 80px;
}

.container_software {
    display: flex;
    justify-content: center;
}

.info {
    max-width: none;
    width: 100%;
    text-align: end;
    font-size: 14px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    /* background-image: linear-gradient(rgb(52, 112, 150), rgb(42, 42, 117)); */
    max-width: 720px;
    margin: auto;
    text-align: center;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#347096+0,2a2a75+100 */
    background: #347096; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #347096 0%, #2a2a75 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #347096 0%,#2a2a75 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #347096 0%,#2a2a75 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#347096', endColorstr='#2a2a75',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

h1 {
    font-size: 25px;
}
h2 {
    font-size: 20px;
}

h3 {
    font-size: 30px;
    color: white;
    padding: 5px;
}

p {
    font-size: 15px;
}